[flake8]
max-line-length = 120
max-complexity = 18
# exclude =
# E203: whitespace before colon is broken
# E231: space after comma is not always required
# E402: module level import not at top of file
# E501: the copypasta is very long and can't be broken into multiple lines
# W: ignore all warnings
ignore = E203,E231,E402,E501,W
